*{
	font-family: Verdana;
}
body{
	padding: 0px;
	margin: 0px;
}

header{
	display: flex;
	justify-content: center;
	height: 120px;
	
}

.container{
	display: flex;
	justify-content: space-between;
	width: 990px;
}

.logo{
	display: flex;
	align-items: center;
}

.logo img{
	width: 300px;
}

.menu{
	display: flex;
	align-items: center;
	color: white;
}

nav{
	display:: flex;
}

nav ul,
nav li{
	list-style: none;
	padding: 0;
	margin: 0;

}

nav ul{
	display: flex;
}

nav a {
	display: block;
	text-decoration: none;
	padding: 15px;
	color: black;
}

nav a:hover{
	background-color: #FF9A17;
	color: white;
}

.column{
	flex-direction:column;
}

.column1{
	flex-direction:column;
	align-items: center;
}

#banner{
	display: flex;
	justify-content: center;
	background-image: url("assets/img/banner.jpg");
	background-position: center;
	background-size: cover;
	height: 670px
}

.title_banner{
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_banner h1{
	color:#FF9A17;
    font-size: 40px;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    padding: 0;
    max-width: 450px;
}

.title_banner h2{
	
	color: #FFC917;
    font-size: 22px;
    text-shadow: 0px 1px 0px black;
	padding: 0;
    max-width: 350px;
    margin-top: 25px;
}

#promo{
	display:flex;
	justify-content: center;
}

.title_promo{
	color: #FF9A17;
	display:flex;
	justify-content: center;
	font-size: 22px;
}

.folder{
	display: flex;
}

.f_promo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url("assets/img/cataratas.jpg");
	width: 430px;
	height: 322px;
	margin: 10px;
	background-position: center;
	background-size: cover;
}

.f_promo a{
	padding: 8px;
	border: solid 1px white;
	width: 80px;
	color: white;
	margin: 10px;
	text-decoration: none;
}

.f_promo h2{
	font-size: 20px;
	color: white;
	margin-left:10px;
}

#final{
	display: flex;
	justify-content: center;
}

.title{
	height: 109px;
	line-height: 55px;
	background-color: #FFC917;
	text-align: center;
	color: white;
	text-shadow: 0px 1px 0px black;
	margin: 20px;
}

.sub_title{
	margin-top: 20px;
	height: 120px;
	background-color: #dff2fe;
	padding: 15px; 
}

.sub_title h1{	
	text-align:center;
	margin: 0;
	font-weight: initial;
}

.sub_title h2{
	font-size: 20px;	
	text-align:center;
	font-weight: initial;
	margin-left: 5px;
}

.sub_title h3{
	font-size: 12px;
	margin-left: 5px;
	color: #5e7f96;
	font-weight: initial;
}
.foto{
	display: flex;
	margin-top: 40px;
	margin-left: 118px;
	
	width: 744px;
	height: 356px;
	background-image: url("assets/img/floresta.jpg");	
}

.rodape{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #323232;
	height: 140px;
	margin-top: 40px;
}

.copyright{
	color: #5e7f96;
}


























