*{
	font-family: Verdana;
}
body{
	padding: 0px;
	margin: 0px;
}

header{
	display: flex;
	justify-content: center;
	height: 120px;
	
}

.container{
	display: flex;
	justify-content: space-between;
	width: 990px;
}

.logo{
	display: flex;
	align-items: center;
}

.logo img{
	width: 300px;
}

.menu{
	display: flex;
	align-items: center;
	color: white;
}

nav{
	display:: flex;
}

nav ul,
nav li{
	list-style: none;
	padding: 0;
	margin: 0;

}

nav ul{
	display: flex;
}

nav a {
	display: block;
	text-decoration: none;
	padding: 15px;
	color: black;
}

nav a:hover{
	background-color: #FF9A17;
	color: white;
}

.column{
	flex-direction:column;
}

.column1{
	flex-direction:column;
	align-items: center;
}

#banner{
	display: flex;
	justify-content: center;
	background-image: url("assets/img/banner.jpg");
	background-position: center;
	background-size: cover;
	height: 670px
}

.title_banner{
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_banner h1{
	color:#FF9A17;
    font-size: 40px;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    padding: 0;
    max-width: 450px;
}

.title_banner h2{
	
	color: #FFC917;
    font-size: 22px;
    text-shadow: 0px 1px 0px black;
	padding: 0;
    max-width: 350px;
    margin-top: 25px;
}

#promo{
	display:flex;
	justify-content: center;
}

.title_promo{
	color: #FF9A17;
	display:flex;
	justify-content: center;
	font-size: 22px;
}

.folder{
	display: flex;
}

.f_promo{
	width: 430px;
	height: 322px;
	background-color: black;
	margin: 10px;
}























